# Smart MCQ Solver - Requirements

accelerate
bitsandbytes
chromadb
datasets
faiss-cpu
gensim
matplotlib
nltk
numpy
pandas
pyyaml
scikit-learn
seaborn
sentence-transformers
tiktoken
torch
tqdm
transformers
wandb
wordcloud